* {
  box-sizing: border-box;
}

/* Animation */
@keyframes closeEdit {
  0% {
    top: 25%;
    left: 25%;
    opacity: 1;
  }
  33% {
    transform: scale(0.7);
    top: 50%;
    left: 50%;
  }
  66% {
    transform: scale(0.5);
    top: 75%;
    left: 75%;
  }
  100% {
    transform: scale(0.1);
    top: 100%;
    left: 100%;
    opacity: 0.1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Remove Anchor default formatting  */
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
/* Body  */
body {
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  margin: auto;
  /* background: linear-gradient(to right, #70e1f5, #ffd194); */
  background: linear-gradient(to right, #a8edea, #e9e4f0);
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
}
/* Main Container  */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Navbar start  */
.navbar {
  display: flex;
  position: fixed;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  background-color: #0093e9;
  background-image: linear-gradient(72deg, #0093e9 0%, #80d0c7 100%);
  height: 50px;
  width: 70%;
  margin-bottom: 100px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 20px whitesmoke;
  z-index: 999;
}
/* Logo image  */
body > div > div > div.logo > a > img {
  border-radius: 0px 0px 10px 10px;
  margin-left: 50px;
}

body > div > div > div.logo > a > img:hover {
  animation: zoomIn 2s infinite linear;
  box-shadow: 0px 0px 20px rgb(19, 156, 228);
}
/* Right Navbar side with Cart and Admin  */
.cart-admin {
  display: flex;
  align-self: center;
  padding-right: 30px;
  gap: 10px;
  justify-self: flex-end;
}
.cart,
.admin {
  display: flex;
  gap: 15px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
}
.cartIcon,
.adminIcon {
  color: black;
}
.cart:hover {
  animation: zoomIn 1s infinite;
}
.admin:hover {
  animation: zoomIn 1s infinite;
}
.cartRedIcon {
  display: flex;
  position: relative;
  height: 15px;
  width: 15px;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
}
/* Navbar menu  */
.nav-menu {
  align-self: center;
}
.menuItem > a {
  color: darkblue;
  text-decoration: none;
}
.menuItem:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  transform-style: preserve-3d;
  border-bottom: 1px solid white;
}

.nav-menu-drop {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20vw;
}
body > div > div > div.nav-menu-drop > ul {
  display: flex;
  gap: 2vw;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  color: darkgray;
}

.storeDescription {
  margin-top: 100px;
  text-align: center;
}
.storeDescription > h1 {
  color: indigo;
}
/* Card container  */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
/* Product Card  */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  position: relative;
  height: 400px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.cardImg {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 5px 10px grey;
}
.img {
  height: 60%;
}

.shortDescription {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  height: 80px;
  width: 100%;
  margin: auto;
  padding: 0;

  font-size: small;
}
.cardPrice {
  position: absolute;
  top: 10px;
  height: 30px;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  margin: 2px 0px 2px 0px;
  background-color: rgb(123, 205, 200);
  justify-self: flex-end;
  border-radius: 5px 10px 10px 0px;
}
#productTitle {
  font-size: 15px;
  margin: auto;
}
.productDescription {
  height: 100%;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
  margin: 5px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}
.btn-grad {
  text-align: center;
  border: none;
  height: 25px;
  width: 100px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
  box-shadow: 0 0 25px grey;
}
#detilsIcon {
  margin-right: 5px;
}

.adminHeader {
  margin-top: 100px;
  text-align: center;
  padding: 30px;
}
.fixedCard {
  position: fixed;

  margin-bottom: 70px;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 10px whitesmoke;
}

.adminCard {
  display: flex;
  gap: 5px;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 10px whitesmoke;
}
.adminCard:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.adminImg > img {
  height: 50px;
  border-radius: 3px;
}
.adminImg {
  width: 11%;
}
.adminImg > img:hover {
  transform: scale(5);
  transition-duration: 0.5s;
  border-radius: 2px;
  box-shadow: 10px 10px 30px black;
}
.adminDescription {
  margin: 2px;
  width: 80%;
}
.adminDescriptionhead {
  width: 38%;
}
.adminPrice {
  width: 15%;
  padding-left: 5px;
  margin: auto;
}
.buttonProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: none;
  width: 20%;
  cursor: pointer;
  background: transparent;
}
.removeProductButton:hover {
  color: red;
}
.editProductButton:hover {
  color: blue;
}

#addNewProduct {
  margin: auto;
  gap: 0px;
}
#addNewProduct:hover {
  color: green;
}
.adminContainer {
  padding-bottom: 100px;
}
.adminTitle {
  width: 15%;
  margin-right: 20px;
}
span {
  font-size: 10px;
}
.editproduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: absolute;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 10px 15px 60px black;
  border-radius: 10px;
}
.editAnimation {
  animation-name: closeEdit;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.editAnimationOpen {
  animation-direction: reverse;
  animation-name: closeEdit;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.edit > input {
  width: 100%;
  border: none;
}
.editCardButtons {
  display: flex;
  justify-content: space-between;
}

.editCardButtons > button {
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
}
.editCardButtons > button {
  padding: 5px 25px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.editCardButtons > button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.fas {
  margin-right: 5px;
}
.editLongDescriptionBox > textarea {
  width: 100%;
  border: none;
}
#editCardTitle {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: x-large;
}

/* Hidden  */
.hidden {
  display: none;
}
