* {
  box-sizing: border-box;
}
/* Animation */
@keyframes cartDot {
  0% {
  }
  50% {
    transform: scale(3);
  }
  100% {
  }
}
@keyframes closeEdit {
  0% {
    top: 25%;
    left: 25%;
    opacity: 1;
  }
  33% {
    transform: scale(0.7);
    top: 50%;
    left: 50%;
  }
  66% {
    transform: scale(0.5);
    top: 75%;
    left: 75%;
  }
  100% {
    transform: scale(0.1);
    top: 100%;
    left: 100%;
    opacity: 0.1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Remove Anchor default formatting  */
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.waves {
  width: 100%;
  z-index: 0;
}
/* Body  */
body {
  width: 80%;
  height: 150vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  margin: auto;

  /* background: linear-gradient(to right, #70e1f5, #ffd194); */
  /* background: linear-gradient(to right, #a8edea, #e9e4f0); */
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  /* background: linear-gradient(to right, #ffeeee, #ddefbb); */
  /* background: linear-gradient(to right, #ece9e6, #e2dfdf); */
}
/* Main Container  */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar start  */
.navbar {
  display: flex;
  position: fixed;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  /* background-color: #0093e9; */
  /* background-image: linear-gradient(72deg, #0093e9 0%, #80d0c7 100%); */
  height: 50px;
  width: 90%;
  margin-bottom: 100px;
  border-radius: 0px 0px 10px 10px;
  /* box-shadow: 0px 0px 20px whitesmoke; */
  z-index: 999;
}
/* Logo image  */
body > div > div > div.logo > a > img {
  border-radius: 0px 0px 10px 10px;
  margin-left: 50px;
  border: 1px solid lightgray;
}
body > div > div > div.logo > a > img:hover {
  animation: zoomIn 5s infinite linear;
  box-shadow: 0px 0px 20px rgb(19, 156, 228);
}
/* Right Navbar side with Cart and Admin  */
.cart-admin {
  display: flex;
  align-self: center;
  padding-right: 30px;
  gap: 10px;
  justify-self: flex-end;
}
.cart,
.admin {
  display: flex;
  gap: 15px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
}
.cartIcon,
.adminIcon {
  color: black;
}
.cart:hover {
  animation: zoomIn 1s infinite;
}
.admin:hover {
  animation: zoomIn 1s infinite;
}
.cartRedIcon {
  display: flex;
  position: relative;
  height: 18px;
  width: 18px;
  left: 22px;
  top: 10px;
  border-radius: 50%;
  background-color: rgb(241, 57, 57);
  font-size: 13px;

  align-content: center;
  justify-content: center;
  color: white;
}
.redIconAnimation {
  animation-name: cartDot;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
/* Navbar menu  */
.nav-menu {
  align-self: center;
}
.menuItem > a {
  color: white;
  text-decoration: none;
}
.menuItem > a:hover {
  color: whitesmoke;
  text-decoration: none;
}
.menuItem:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  transform-style: preserve-3d;
  border-bottom: 1px solid white;
}

.nav-menu-drop {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20vw;
}
body > div > div > div.nav-menu-drop > ul {
  display: flex;
  gap: 2vw;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  color: darkgray;
}

.storeDescription {
  margin-top: 150px;
  text-align: center;
}
.storeDescription > h1 {
  color: indigo;
}
/* Card container  */
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-content: space-around;
}
/* Product Card  */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  position: relative;
  height: 400px;
  width: 250px;
  /* background-color: aliceblue; */
  border-radius: 5px;
  box-shadow: 5px 10px 10px darkgray;
  background-color: white;
  background-image: url("./img/cardBCK.png");
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.cardImg {
  width: 100%;
  padding: 10px;
  margin: auto;
}
.img {
  display: flex;
  height: 60%;
  overflow: hidden;
}

.shortDescription {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  height: 80px;
  width: 100%;
  margin: auto;
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.068);

  font-size: small;
}
.cardPrice {
  position: absolute;
  top: 10px;
  height: 30px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-image: linear-gradient(
    132.6deg,
    rgb(53, 173, 254) 23.3%,
    rgb(177, 221, 251) 84.7%
  );
  justify-self: flex-end;
  border-radius: 0px 10px 10px 0px;
}
#productTitle {
  font-size: 15px;
  margin: auto;
}
.productDescription {
  height: 100%;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
  margin: 5px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}

.btn-grad {
  text-align: center;
  border: none;
  height: 25px;
  width: 100px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  font-size: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: whitesmoke;
  text-decoration: none;
}
#detilsIcon {
  margin-right: 5px;
}

.adminHeader {
  margin-top: 100px;
  text-align: center;
  padding: 30px;
}
.fixedCard {
  position: fixed;

  margin-bottom: 70px;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 10px whitesmoke;
}
.cartButton {
  cursor: pointer;
}

.adminCard {
  background: #d5e6f8;
  display: flex;
  gap: 5px;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: auto;
  box-shadow: 0px 0px 10px whitesmoke;
}
.adminCard:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.adminImg > img {
  height: 50px;
  border-radius: 3px;
}
.adminImg {
  width: 11%;
}
.adminImg > img:hover {
  transform: scale(5);
  transition-duration: 0.5s;
  border-radius: 2px;
  box-shadow: 10px 10px 30px black;
}
.adminDescription {
  margin: 2px;
  width: 80%;
}
.adminDescriptionhead {
  width: 38%;
}
.adminPrice {
  width: 15%;
  padding-left: 5px;
  margin: auto;
}
.buttonProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: none;
  width: 20%;
  cursor: pointer;
  background: transparent;
}
.removeProductButton:hover {
  color: red;
}
.editProductButton:hover {
  color: blue;
}

#addNewProduct {
  padding-top: 10px;
  margin: auto;
  gap: 0px;
  z-index: 99999;
}
#addNewProduct:hover {
  color: green;
}
.adminContainer {
  padding-bottom: 100px;
}
.adminTitle {
  width: 15%;
  margin-right: 20px;
}
span {
  font-size: 10px;
}
.editproduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: absolute;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 10px 15px 60px black;
  border-radius: 10px;
}

.editAnimation {
  animation-name: closeEdit;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.editAnimationOpen {
  animation-direction: reverse;
  animation-name: closeEdit;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.edit > input {
  width: 100%;
  border: none;
}
.editCardButtons {
  display: flex;
  justify-content: space-between;
}

.editCardButtons > button {
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
}
.editCardButtons > button {
  padding: 5px 25px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.editCardButtons > button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.fas {
  margin-right: 5px;
}
.editLongDescriptionBox > textarea {
  width: 100%;
  border: none;
}
#editCardTitle {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: x-large;
}

/* Hidden  */
.hidden {
  display: none;
}

svg {
  position: absolute;
  position: fixed;
  width: 80%;
  z-index: 99;
}

#svg2 {
  display: none;
  z-index: 98;
  opacity: 0.8;
}
#svg3 {
  display: none;
  z-index: 97;
  opacity: 0.5;
}
#svg1 {
  display: none;
}
#svg4 {
  width: 100%;
  left: 0;
  position: absolute;
  position: fixed;
  opacity: 0.8;
  transform: rotate(180deg);
  z-index: 100;
}

/* Details  */
.detailsCard {
  margin: auto;
  position: relative;
  top: 200px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  box-shadow: 5px 10px 10px darkgray;
  border-radius: 5px;
  background-image: url("./img/detailsBCK.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border: 0.1px solid darkgray;
}
.btn-det,
.backToStore {
  transform: scale(1.2);
  margin: 0px 30px;
}
.btn-det:hover {
  font-weight: bold;
  color: black;
}
.backToStore:hover {
  font-weight: bold;
  color: black;
}

.cardImgItSelf {
  height: 400px;
  max-width: 400px;
  margin: auto;
}

.deatailCardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailsTitle {
  padding: 10px;
  margin: auto;
  font-size: 40px;
}
.longDescription {
  position: absolute;
  top: 100px;
  left: 450px;
  margin: auto;
}
.detailsCardPrice {
  font-size: 20px;
  margin: auto;
}
.detailsCardButtons {
  display: flex;
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.detailsCardText {
  display: flex;
  flex-direction: column;
}

/* Cart  */
.totalPriceCard {
  position: absolute;
  position: fixed;
  top: 23vh;
  left: 1150px;
  height: 250px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #73aeec;
  border-radius: 5px;
  box-shadow: 0px 0px 30px darkgray;
}

.lastButton {
  height: 50px;
  background-color: black;
  color: wheat;
  border: none;
  border-radius: 5px;
  width: 400px;
  font-size: 20px;
  margin-top: 180px;
  cursor: pointer;
}
.totalPriceCard h1 {
  color: white;
  border-top: 5px solid black;
}
.totalPriceCard > h1 > i {
  color: black;
}
.finalContinue {
  width: 200px;
  box-shadow: 0px 0px 5px black;
  font-size: 15px;
}
.finalShopping {
  width: 180px;
  box-shadow: 0px 0px 5px black;
  font-size: 15px;
}
.finalShopping:hover {
  animation: zoomIn 1s infinite;
  box-shadow: 0px 0px 10px red;
}
.cartContainer {
  position: relative;
  top: 220px;
  width: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #d5e6f8;
}
.cartCardImg {
  height: 90px;
}
.cartCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100px;
  padding: 5px;
  box-shadow: 0px 0px 10px darkgray;
  width: 90%;
  border-radius: 5px;
}
.cartCard:hover {
  transform: scale(1.01);
  transition-duration: 0.3s;
}
.cardNrProducts,
.cartCardPrice,
.cartCardTitle {
  justify-self: center;
  align-self: center;
}
.cartCardBody {
  display: flex;
}
.cartCardTitle {
  width: 200px;
}
.cartImgContainer {
  width: 150px;
}
.cartCardPrice {
  width: 100px;
}
.delete {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  border: none;
  margin: 20px 20px 0px 0px;
  color: rgb(235, 96, 96);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.delete:hover {
  background-color: #283048;
  color: white;
  font-weight: 500;
}

body {
  background: #d5e6f8;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 25s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  max-height: 1000px;
  overflow: hidden;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0);
  }
}

.sucess {
  position: absolute;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 200px;
  left: 400px;
  height: 500px;
  width: 1100px;
  background-color: #416ea4;
  color: white;
  box-shadow: 0px 10px 50px black;
  font-size: 30px;
  color: yellow;
  border-radius: 10px;
}
